.dpanel{
    position:relative;
    background-color: green;
    width: 800px;
    height: 600px;
    left: 200px;
    top: 10px;


}

#hamish{ 
    position: absolute;
    width: 150px;
    height: auto;
    right: 340px;
    top: 250px
}