body{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    color: white;
    justify-content: center;
    justify-items: center;
    margin: 0px;
}

a{
    display: inline-block;
}

.painel img{
width: 550px;
height: auto;
}

.painel{
     display: inline-block;
}