
body{
 padding: 0%;
 margin: 0%;
}

header{
    background-color: black;
    color: white;
    width: 100%;
    margin: 0%;

}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap

}

.personagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 250px;
    height: 350px;
    border: 1px black solid;
    margin-left: 20px;
    border-radius: 20px;
   padding: 8px 8px 0px 3px;
   margin-top: 10px;
}

.personagem img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    border-radius: 5px;
}

.personagem [data-classe="MAGE"]{
background-color: blue;
}

.personagem [data-classe="WARRIOR"]{
    background-color: red;
}

.personagem [data-classe="HEALER"]{
    background-color: green;
}

.personagem [data-classe="PAIN"]{
    background-color: gray;

}