li:first-child{
    color: red;
}

li:last-child{
    color: blue;
}

div{
    display: flex;
    background-color: white;
}

div a{
    display: flex;
}
li:nth-child(4):hover{

    color: green;
}


div:hover a{
    background-color: green;
    display: flex;
    width: 150px;
    height: 20px;
}

div a:hover{
    display:flex;
}

p::first-letter{
    color: red;
    font-size: 200%;

}
p::first-line{
    font-style: italic;
    text-shadow: 20px 10px 5px red;
}

a::before{
    content:"%";
}

a::after{
    content:"%";
}